@import './animate.scss';
@import './common.scss';
@import './TopBar.scss';
@import './Badge.scss';


#root {
    height: 100%;
}

// main scroll Class
.roy_scroll{
    height: calc(100% - 0px);
    transition: width 0.3s ease-in-out 0s;
}
